@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body, html{
    background-size: cover ;
    background-position: center;
    display: grid;
    height: 100%;
    place-items: center;
    display: block;
}

.error {
    text-align: center;
    margin-top: 200px;
    background-color: #3a0080;
    width: 30%;
    padding: 40px;
    margin-left: 500px;
    border-radius: 5px;
    color: #fff;
}

.text{
    margin-top: 20px;
}
